/* 파일 목록 헤더 */
.FileListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FileContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.FileListTool {
  display: flex;
  justify-content: flex-end;
}

/* 페이지네이션 */
.paginationWrap {
  display: flex;
  justify-content: center;

  .pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 5%;
  }

  .pagination > li {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: 0;
    float: left;
  }

  .pagination > li > a {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .pagination > li > a:focus,
  .pagination > li > a:hover {
    color: white;
    background-color: #fff0ef;
    border-color: #ddd;
    cursor: pointer;
  }

  .pagination > li > a[aria-current] {
    background-color: #fff0ef;
    border-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    transform: revert;
  }
}

/* 파일 조회 목록 - 게시판 */
.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
  
}

.board-table .th-num {
  width: 80px;
  text-align: center;
}

.board-table .th-title {
  width: 200px;
  text-align: center;
}
.board-table .th-date {
  width: 150px;
}
.board-table .th-status {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}



.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}
