.descript {
    margin-top : 50px;

    #maintitle {
        font-size: 30px;
    }
    
    #subtitle1 {
        font-size: 20px;
    }
    #subtitle2 {
        font-size: 20px;
    }
}

.servicestart {
    
    width: 125px;
    height: 50px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #FFF0EF;
    border: 1px solid #FFF0EF;
    text-align: center;
    cursor: pointer;
    margin: auto;
    text-align: center;

    #startBtn {
        
    }
}