.descript {
    margin-top : 50px;

    #maintitle {
        font-size: 30px;
    }
    
    #subtitle1 {
        font-size: 20px;
    }
    #subtitle2 {
        font-size: 20px;
    }
}

.servicestart {
    
    display: flex;
    justify-content: center;

    #startBtn {
        font-size: 16px;
        background-color: #FFF0EF;;
        border: 1px solid #FFF0EF;;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
    }
}